@(usuarios: List[Usuario], mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorra,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}

@main("Listado de usuarios", scripts) {

    <h2> Listado de usuarios </h2>

    <ul>
    ID:     Usuario:    Nombre:     Apellidos:    Opciones:
    @for(usuario <- usuarios) {
        <li>
          <p>
          @usuario.id: @usuario.login @usuario.nombre @usuario.apellidos 
          <a class="btn btn-primary" href="@routes.UsuariosController.editaUsuario(usuario.id: String)">Modificar</a>
          <a class="btn btn-primary" href="@routes.UsuariosController.detalleUsuario(usuario.id: String)">Detalles</a>
          <a class="btn btn-primary" href="@routes.UsuariosController.listaUsuarios()">Borrar</a></p>
        </li>
      }

    </ul>

    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }

    <a class="btn btn-primary" href="@routes.UsuariosController.grabaNuevoUsuario()">Añadir</a>

}
