@(usuarios: List[Usuario], mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}

@main("Listado de usuarios", scripts) {

    <h2> Listado de usuarios </h2>
    <table style = "width:50%">
      <tr>
        <td><h4>ID:</h4></td>
        <td><h4>Usuario:</h4></td>
        <td><h4>Nombre:</h4></td>
        <td><h4>Apellidos</h4></td>
        <td><h4>Opciones</h4></td>
      </tr>
    @for(usuario <- usuarios) {
      <tr>
        <td>@usuario.id:</td>
        <td>@usuario.login</td>
        <td>@usuario.nombre</td>
        <td>@usuario.apellidos</td>
        <td>
          <a class="btn btn-primary" href="@routes.UsuariosController.editaUsuario(usuario.id)">Modificar</a>

          <a onmouseover="" style="cursor: pointer;" href="@routes.UsuariosController.detalleUsuario(usuario.id)">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>

          <a onmouseover="" style="cursor: pointer;" onclick="del('@routes.UsuariosController.borraUsuario(usuario.id)')">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </td>
      </tr>
      }

    </table>

    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }

    <a class="btn btn-primary" href="@routes.UsuariosController.grabaNuevoUsuario()">Añadir</a>

}
